dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

# Hide my editor's project folder, too
.idea/
ideaHaskellLib/
.ideaHaskellLib/
node_modules/
*.iml
cabal.config
.DS_Store
.history
.env
