pre
{
  font-family: "Fira Code", monospace;
  display: inline-block;
  padding: 1em;
  border-radius: 1em;
  white-space: pre-wrap;

  color: #EFEEF1;
  background: #2E231B;
}

code
{
  font-family: "Fira Code", monospace;
}

.hljs-keyword, .hljs-built_in, .hljs-bullet, .hljs-tag
{
  color: #FE728B;
  font-weight: bold;
}

.hljs-regexp, .hljs-doctag, .hljs-meta

{
  color: #A082BD;
}

.hljs-string, .hljs-number
{
  color: #EA88B9;
}

.hljs-type, .hljs-literal, .hljs-symbol, .hljs-class, .hljs-attribute
{
  color: #C092CE;
}

.hljs-comment
{
  color: #7D8C93;
}

.hljs-meta-keyword, .hljs-strong
{
  font-weight: bold;
}

.hljs-title, .hljs-name, .hljs-subst
{
  color: #FE728B;
}

.hljs-emphasis
{
  font-style: italic;
}

.hljs-formula, .hljs-quotation, .hljs-link
{
  color: #B24FCB;
}

.hljs-addition
{
  background-color: #294436;
}

.hljs-deletion
{
  background-color: #45302B;
}
