@lost flexbox flex;

:root {
  --light-bg: google-color(grey, 50);
  --light-fg: google-color(grey, 900);

  --dark-fg: google-color(grey, 50);
  --dark-bg: google-color(grey, 900);

  --accent-bg: google-color(pink, 500);
}

body {
  font-family: "skolar-sans-latin", sans-serif;
  font-weight: 200;
  min-width: 320px;
}

::selection {
  background-color: var(--accent-bg);
}

body.light {
  background-color: var(--light-bg);
  color: var(--light-fg);
}

body.dark {
  background-color: var(--dark-bg);
  color: var(--dark-fg);
}

.body {
  lost-center: 95%;
  padding-top: 2.5vw;
}

@media (max-width: 512px) {
  .body > aside {
    width: 100%;
    border-bottom: 1px solid;
    border-bottom-color: var(--accent-bg);
    margin-bottom: 1em;
  }
}

@media (min-width: 512px) and (max-width: 768px) {
  .body > aside {
    lost-column: 1/4;
  }

  .body > section {
    lost-column: 3/4;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .body > aside {
    lost-column: 1/6;
  }

  .body > section {
    lost-column: 5/6;
  }
}

.body > aside img {
  max-width: calc(100% - 1.5rem);
  max-height: 50vh;

  margin-left: auto;
  margin-right: auto;
  display: block;
}

.body > section article:not(:last-child) {
  border-bottom: 1px solid var(--accent-bg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "clone-rounded-latin", monospace;
  font-weight: 200;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
