:root {
  --light-bg: google-color(grey, 50);
  --light-fg: google-color(grey, 900);

  --dark-fg: google-color(grey, 50);
  --dark-bg: google-color(grey, 900);

  --accent-bg: google-color(pink, 500);
  --accent-fg: google-color(pink, 200);
}

ul.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-list article:not(:first-of-type), #comments article:not(:first-of-type) {
  /* TODO: Figure out why PostCSS is eating combined border styles. */
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--accent-bg);
}

.dateline
{
  font-size: 0.8em;
  margin-bottom: 0.5rem;
}

.post p:first-of-type
{
  margin-top: 0;
}

#comments h1
{
  font-size: 1.5em;
}

#comments article
{
  margin-top: 0.5rem;
  padding-top: 0.3rem;
}

#comments .comment-avatar
{
  width: 48px;
  margin-right: 0.25rem;
}

#comments .comment-author
{
  display: inline;

}

#comments form
{
  lost-center: 100%;
}

#comments textarea
{
  lost-column: 2/5;
  height: 400px;
  font-family: "Fira Code", monospace;
}

#comments .preview
{
  lost-column: 2/5;
  height: 400px;
  overflow: scroll;
}

.markdown-preview
{
  margin-top: 0.8em;
}

#comments .controls
{
  lost-column: 1;
}

form button, #comments a.button
{
  font-family: unset;
  font-size: 1.5rem;

  border-width: 2px;
  border-style: solid;
  border-color: var(--accent-bg);

  color: var(--accent-bg) !important;
  fill: var(--accent-bg);
  background: unset;

  margin: 0.25em;
  padding: 0 .3em;
  display:inline-block;
  line-height: 1.5;
}

form button:hover, #comments a.button:hover
{
  color: var(--accent-fg) !important;
  fill: var(--accent-fg);
  background: var(--accent-bg);
}
